<div class="show"><h3>Please Fill Your Details</h3></div><br>


<form [formGroup]="profileForm" class="text-bg-secondary p-3 mb-3" (ngSubmit)="onSubmit()">
  <div class="row g-3 align-items-center">
    <label class="col-auto form-label" for="name">Name: </label>
<input class="rounded-input form-label" id="firstname" type="text" formControlName="firstname">

<label class="col-auto" for="lastname">Lastname:</label>
<input class=" rounded-input" id="lastname" type="text" formControlName="secondname">

<label class="col-auto" for="emailid">Emailid:</label>
<input class="rounded-input" id="emailid"  type="email" formControlName="email">
</div><br>

<div class="row g-3 align-items-center">
<label class="col-auto" for="birthday">Birthday:</label>
<input type="date" class="col-auto rounded-input" id="birthday" name="birthday" formControlName="birthday">

<label for="password" class="col-auto">password:</label>
<input id="password" class="col-auto rounded-input" type="password" [(ngModel)]="pValue" formControlName="password">

<label for="confirmpassword" class="col-auto">confirm password</label>
<input id="confirmpassword" class="col-auto rounded-input" type="password" formControlName="confirmpassword" (click)="checkingPassword()">
<span *ngIf="profileForm.errors?.['passwordmatcherror']"> password miss-match</span>
</div><br>

<div class="row g-3 align-items-center">
<label for="address" class="col-auto">address:</label>
<input id="address" class="col-auto rounded-input" type="largetext" formControlName="address">

<label for="mobile" class="col-auto">phone number:</label>
<input id="mobile" class="col-auto rounded-input" type="text" formControlName="phnnum" appMyDirective>
</div><br>

<button type="submit" [disabled]="!profileForm.valid">submit</button>
</form><br><br>

<a class="btn btn-primary" routerLink="/details"><h4>List</h4></a>